body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
/*background-image: linear-gradient(to right, #FFD60A, #FFC300); /*left to right */

}

.dropdwn{
	margin: 0 auto;

}
 nav {

  /*background-image:linear-gradient(to right, #edb458,#edb458);  *//*left to right */

  background-image:linear-gradient(to right, #ffd60a,#ffd60a); 
 	position: sticky; /* ni yang nak bagi navbar tu tak hilang */
	top: 0;
	z-index: 10;
 
 }

 .logo {
 	padding: 5px 0 0 80px;
 	width: 200px;
 	height: 80px;

 }
 nav ul {
 	/*padding: 0; */
 	margin: 0;
 	float: right;
 	margin-right: 30px;
 	 /* padding: 0 10px; */

 }

 nav ul li {
 /*background-image:linear-gradient(to right, #edb458,#edb458); - pastel orange /*left to right */; 
 	/*background-image: linear-gradient(to right, #FFD60A, #FFC300); /*left to right */
 	background-image:linear-gradient(to right, #ffd60a,#ffd60a); 
 	position: relative;
 	list-style: none;
 	display: inline-block;
 }

nav ul li a{
	display: block;
	padding: 0 10px; 
	color: #000;
	text-decoration: none;
	line-height: 60px;
	font-size: 15px;
	transition: .5s;
	width: 100%;
	font-family:sans-serif;
	font-weight:600;
	text-align: center;
}
nav ul li a:hover, nav ul li.active{
		background: #e3f2fd; /* chilli red */
	}

nav ul ul {
	position: absolute;
	/*top: 60px; */
	display: none; 
}
nav ul li:hover > ul {
	 display: block; 

}

nav ul ul li{
	width: 300px;
	float: none;
	display: list-item;
	position: relative;
}

/*nav ul ul li {
	position: relative;
	top: -60px;
	left: 150px;
} */
 /* OTHER THAN NAV */ 
 b, .banner, .container, .row, .col-md-6 , .play-button,h1,h3,  h5, h6

{
	text-align: justify;
	color: #003566;  /* navy blue */
	font-family: sans-serif;
	font-size: 18px;

}

h2 {
	
color: #003566;  /* navy blue */
	font-family: sans-serif;
	font-size: 18px;
}
